docker {
       enabled = true
       temp = 'auto'
}

profiles {
         standard {
                  process.executor      = 'local'
         }

         cluster {
                 process.executor       = 'sge'
                 process.cpus           = 24
                 process.pollInterval   = '10sec'
                 process.queueSize      = 100
         }

}
