docker {
       enabled = true
       temp = 'auto'
}

profiles {
         standard {
                  process.executor      = 'local'
                  process.container     = 'ezorita/seqanalysis'
         }

         cluster {
                 process {
                         executor  = 'sge'
                         queue     = 'short-sl7'
                         scratch   = true
                         memory    = '4G'
                         container = 'ezorita/seqanalysis'
                 }
         }
}

executor {
         name          = 'sge'
         pollInterval  = '10sec'
         queueSize     = 100
}
