docker {
       enabled = true
       temp = 'auto'
}

profiles {
         standard {
                  process.executor      = 'local'
                  process.container     = 'ezorita/seq-analysis'
         }

         crgcluster {
                 process {
                         executor  = 'crg'
                         queue     = 'short-sl7'
                         scratch   = true
                         memory    = '4G'
                         container = 'ezorita/seq-analysis'
                 }
                 process.$mapReads {
                         executor = 'crg'
                         queue     = 'long-sl7'
                         scratch   = true
                         memory    = '10G'
                         container = 'ezorita/seq-analysis'
                 }
         }

}

executor {
         name          = 'sge'
         pollInterval  = '10sec'
         queueSize     = 100
}
